.hero {
    background-image: url(../img/afiniti-hero.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:530px;
    @media (max-width:991px) {
        padding-top: 100px;
    }
    position: relative;
    z-index: 0;

    margin-bottom: 2rem;

    h1 {
        font-size: 54px;
    }
}

