.hero {
    background-image: url(../img/afiniti-hero.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width:991px) {
        padding-top: 80px;
    }
    position: relative;
    z-index: 0;

    margin-bottom: 2rem;

    &__inner {
        padding-block: 6rem 12rem;
    }

    h1 {
        font-size: 54px;
    }
}
