// $col-green-300: hsl(89, 42%, 76%); // my hsl(102, 37%, 66%);
// $col-green-500: hsl(89, 42%, 67%); // my hsl(102, 37%, 59%);
// $col-green-700: hsl(105, 35%, 60%); // my hsl(102, 37%, 52%);
$col-green-300: hsl(102, 37%, 66%);
$col-green-500: hsl(102, 37%, 59%);
$col-green-700: hsl(102, 37%, 52%);


$col-orange-300: hsl(28, 88%, 66%);
$col-orange-500: hsl(28, 88%, 59%);
$col-orange-700: hsl(28, 88%, 52%);

$col-purple-300: hsl(245, 17%, 47%);
$col-purple-500: hsl(245, 17%, 40%);
$col-purple-700: hsl(245, 17%, 33%);

$col-grey-300: hsl(270, 1%, 70%);
$col-grey-400: hsl(270, 1%, 54%);
$col-grey-500: hsl(270, 1%, 38%);
$col-grey-700: hsl(270, 1%, 22%);


:root {

    // --col-green-300: hsl(89, 42%, 76%);
    // --col-green-500: hsl(89, 42%, 67%);
    // --col-green-700: hsl(105, 35%, 60%);

    --col-green-300: hsl(102, 37%, 66%);
    --col-green-500: hsl(102, 37%, 59%);
    --col-green-700: hsl(102, 37%, 52%);

    --col-orange-300: hsl(28, 88%, 66%);
    --col-orange-500: hsl(28, 88%, 59%);
    --col-orange-700: hsl(28, 88%, 52%);
    
    --col-purple-300: hsl(245, 17%, 47%);
    --col-purple-500: hsl(245, 17%, 40%);
    --col-purple-700: hsl(245, 17%, 33%);
    
    --col-grey-300: hsl(270, 1%, 70%);
    --col-grey-400: hsl(270, 1%, 54%);
    --col-grey-500: hsl(270, 1%, 38%);
    --col-grey-700: hsl(270, 1%, 22%);
    
}